
<div class="grocery-container">
    <div class="outerbox">
        <h2>Grocery List</h2>
        <div>
            <div class="insideItem">

                <input type="text" [(ngModel)]="newProduct" placeholder="Add products" />

                <button (click)="addProduct()">+</button>

                <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

                <ul class="no-bullets">
                    <li *ngFor="let item of groceryList; let i = index" class="list-item">
                        <!--{{ item.itemName}}-->
                        {{ item}}
                        <button (click)="removeProduct(i)">
                            <img src="delete.png" alt="🗑" width="15px" height="15px">
                        </button>
                    </li>
                </ul>



            </div>
        </div>
    </div>



</div>